* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 5px;
    display: flex;
    justify-content: center;
    color: white;
    background-color: aqua;
}

main {
    display: flex;
}

.search {
    padding: 20px;
}

.forecast {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.day-forecast {
    display: flex;
    flex-direction: column;
    border: 1px;
    padding: 5px;
    margin: 5px;
    border-color: black;
    border-style: solid;

}

p {
    font-size: 20px;
}

.week-forecast {

}
