* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 2px;
    display: flex;
    justify-content: center;
    color: white;
    background-image: url("../images/city-1.jpg");
    background-size: 240px;
    background-attachment: fixed;
}

main {
    display: flex;
}

/* SEARCH FORM AND SAVED CITY STYLES */
.output {
    width: -webkit-fill-available;
}

.search {
    padding: 20px;
}

.search h2 {
    padding: 5px;
}

form {
    margin: 8px;
    padding: 10px;
    padding-bottom: 20px;
    display: flex;
    border-style: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.search-bar {
    border-radius: 7px;
}

button {
    margin: 5px;
    color: white;
    background-color: rgb(68, 177, 201);
    font-size: 15px;
    border-radius: 7px;
}

.search-history {
    display: flex;
    flex-direction: column;
}

.city-history {
    color: white;
    padding: 9px;
    background-color: grey;
    margin: 7px;
    border-radius: 3px;
}

/* DAY FORECAST STYLING*/
.forecast {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.day-forecast {
    border: 1px;
    padding: 5px;
    border-color: black;
    border-style: solid;
    border-radius: 7px;
}

.day-forecast h2 {
    padding-left: 5px;
}

p {
    font-size: 20px;
    padding: 5px;;
}


/*WEEKLY FORECAST STYLING*/
h3 {
    padding-left: 22px;
}

.week-forecast {
    display: flex;
    justify-content: space-evenly;
}

.weekly-card {
    border-radius: 8px;
    margin: 6px;
    color: white;
    padding: 5px;
    background-color: rgba(41, 53, 94, 1);
}

.weekly-card div {
    padding: 5px;
}

.weekly-card img {
    width: 60px;
}

.date {
    font-weight: bold;
}

.good {
    font-size: 19px;
    border-radius: 4px;
    padding: 4px;
    color: white;
    background-color: green;
}
.average {
    font-size: 19px;
    border-radius: 4px;
    padding: 4px;
    color: white;
    background-color: orange;
}
.bad {
    font-size: 19px;
    border-radius: 4px;
    padding: 4px;
    color: white;
    background-color: red;
}